/* 
Colin Beary
October 22, 2023
CSS stylesheet */

/* CSS reset rule */
html, head, nav, body, div, main, footer, a, img, h1, h2, li, ul, figure, figcaption, table, th, tr, form, video {
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align: baseline;
}

/* making images responsive */
.bannerimage img {
max-width: 100%;
max-height: 100%;
width: 250px;
height: 250px;
display: inline-block;
float: left;
padding: 0%;
top:0px;
}
.bannerimg{
    max-width: 100%;
    width: auto;
    display: inline-block;
    border-top-left-radius: 10px;
}

h1 {
    font-size: 230%;
    padding-top: 90px;
    min-width: 450px;
    text-shadow: 1px 1px 1px blue;
}
h2 {
    font-size: 130%;
    min-width: 450px;
}

/*keeps body below the nav bar */
main{
padding-top: 150px;
font-family: 'Open Sans', sans-serif;
min-width: 450px;
max-width: 900px;
}

/*making footer spaced a bit*/
footer{
    padding-top: 40px;
    text-align: center;
}
/*remove underline from links*/
a {
text-decoration: none;
}

 /* making the navlist a dropdown selector */

 .menu {
    --menu-height: 40px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    top: 322px;
    left:0;
 }
 .menu ul {
    list-style: none;
    padding: 16px;
    margin: 0;
 }
.menu ul li, .menu ul li a {
    opacity: 0.8;
    color: #ffffff;
    cursor: pointer;
    transition: 200ms;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 700;
}
.menu ul li:hover, .menu ul li a:hover {
    opacity: 1;
}
.menu ul li a, .menu ul li a a {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
.menu ul li {
    padding-right: 36px;
}
.menu ul li::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid blue;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}
.menu ul .finalentry::before {
    padding-right: 0;
    display: none;
}
.menu > ul {
    display: flex;
    height: var(--menu-height);
    align-items: center;
    background-color: black;
}
.menu > ul li {
    position: relative;
    margin: 0 8px;
}
.menu > ul li ul {
    visibility: hidden;
    opacity: 0;
    padding: 0;
    min-width: 160px;
    background-color: black;
    position: absolute;
    top: calc(var(--menu-height)+5px);
    left: 50%;
    transform: translateX(-50%);
    transition: 200ms;
    transition-delay: 200ms;
}
.menu > ul li ul li {
    margin: 0;
    padding: 8 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    padding-right: 40px;
}
.menu > ul li ul li::before {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid blue;
}
.menu > ul li ul li ul{
    top:-2%;
    left:100%;
    transform: translate(0);
}
.menu > ul li ul li:hover{
    background-color: black;
}
.menu > ul li:hover > ul{
    opacity: 1;
    visibility: visible;
    transition-delay: 0ms;
}

/*making the bulletpts in hobbylist appear*/
.hobbylist ul {
    padding-left: 20px;
}

/*the css grid container rules for the Life page*/
.boxofchocolates{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}
.chocos {
    grid-column: span 1;
    grid-row: span 1;
}
.chocos ul {
    padding-left: 20px;
}

 /*setup for mobile nav, attempting to keep the formatting the same as the full-nav.*/
  .mobile_menu {
    display: none;
    }
    .table_list {
        display: none;
    }

/*media query tablet edition*/
@media only screen and (min-width:625px) and (max-width:1023px) {
/*at writing, nothing seems to need fenangling to make this distinction*/
}

/*Desktop media query*/
@media only screen and (min-width:1024px) {
    /*an attahboy for using the most master of gaming races. removing the rounded edge*/
    .bannerimage {
        border-top-left-radius: 0;
    }
}

/*This is the point in-which the navbar stops working properly*/
@media only screen and (max-width:624px) {
/*is going away at least*/
    .main_menu {
        display:none;
    }
    .mobile_menu {
        display:block;
        --menu-height: 40px;
        padding-top: 0px;
        box-sizing: border-box;
        position: relative;
        width: 100%;
        top: 320px;
        left:0;
    }
    body{
        font-size: 105%;
    }
    .table_list {
        display: block;
    }
    table {
        display: none;
    }
}
/*Mobile screen font sizing*/
@media only screen and (max-width:375px) {
    h1{
        padding-top: 40px;
    }
    body{
        font-size: 120%;
    }
    main{
        padding-top: 130px;
    }
}

.tablehead {
    list-style-type: none;
    padding-left: 20px;
}
.tableinfo{
    padding-left: 40px;
}
/*table css*/
table {
    min-width: 624px;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 120%;
  }
  .socialimg{
    /*min size is 21px*/
    height: 21px;
    width: 21px;
    }
    form {
        display: flex;
        flex-direction: column;
        max-width: 320px;
    }